<footer class="section footer">
    <div class="footer-links">
      <a  class="footer-link scroll-link" [routerLink]="['/home']">home</a>
      <a  class="footer-link scroll-link" [routerLink]="['/about']">about</a>
      <a class="footer-link scroll-link" [routerLink]="['/services']">services</a>
      <a  class="footer-link scroll-link" [routerLink]="['/featured']">featured</a>
      <a  class="footer-link scroll-link" [routerLink]="['/gallery']">gallery</a>
    </div>
    <div class="footer-icons">
      <a href="https://www.twitter.com" target="_blank" class="footer-icon">
        <i class="fab fa-facebook"></i
      ></a>
      <a href="https://www.twitter.com" target="_blank" class="footer-icon">
        <i class="fab fa-twitter"></i
      ></a>
      <a href="https://www.linkedin.com" target="_blank" class="footer-icon">
        <i class="fab fa-linkedin"></i
      ></a>
    </div>
    <p class="copyright">
      copyright &copy; backroads travel tours company
      <span>{{date}}</span>. all rights reserved
    </p>
  </footer>