<section class="section featured" id="featured">
    <div class="title-wrapper">
      <h2 class="title">featured <span class="subtitle">tours</span></h2>
    </div>
    <div class="about-resort">
        <ul>
            <li><a id="0" (click)="activate($event)">All</a></li>
            <li *ngFor="let sesoN of seas"><a id="{{sesoN._id}}" (click)="activate($event)">{{sesoN.name}}</a></li>
        </ul>
    </div>
    <div class="sort-location">
        <label for="location">Location:</label>
        <select name="location" id="location" [(ngModel)]="sortLocation" (change)="updateCriteria()">
            <option value="*"></option>
            <option *ngFor="let l of loca" value="{{l._id}}">{{l.name}}</option>
        </select>
    </div>
    <div class="section-center featured-center">
      <article class="tour-card" [routerLink]="[s._id]" *ngFor="let s of listSearchDest.destinations">
        <div class="tour-img-container">
          <img
            src="{{s.picture+'.jpg'}}"
            class="tour-img"
            alt="awesome tour"
            style="height: 250px;"
          />
          <p class="tour-date">{{s.from | date}}</p>
        </div>
        <div class="tour-footer">
          <h4 class="tour-title">{{s.name}}</h4>
          <div class="tour-info">
            <p class="tour-country">
              <span><i class="fas fa-map"></i></span>
              {{s.country}}
            </p>
            <div class="tour-details">
              <p>{{s.calculateDateDifference() + ' days'}}</p>
              <p>from ${{s.price}}</p>
            </div>
          </div>
        </div>
      </article>
    </div>
    <div class="paggination">
        <div>
          <backroads-pagination [pageSize]="params.pageSize" [totalItems]="listSearchDest.totalElements" (newPage)="onPageChange($event)"></backroads-pagination>
        </div>
    </div>
  </section>