<nav class="navbar">
    <div class="nav-center">
      <!-- nav header -->
      <div class="nav-header">
        <img
          src="./assets/images/logo.svg"
          class="nav-logo"
          alt="backroads company"
          [routerLink]="['/home']"
        />
        <button
          type="button"
          class="nav-toggle"
          id="nav-toggle"
          aria-label="nav toggler"
          (click)="toggle()"
        >
          <i class="fas fa-bars"></i>
        </button>
      </div>
      <!-- end of navbar header -->
      <!-- navbar links -->
      <div class="nav-links " id="nav-links">
        <a  [routerLink]="['/home']"  class="nav-link scroll-link">home</a>
        <a  [routerLink]="['/about']" class="nav-link scroll-link">about</a>
        <a  [routerLink]="['/services']"  class="nav-link scroll-link">services</a>
        <a  [routerLink]="['/featured']"  class="nav-link scroll-link">featured</a>
        <a  [routerLink]="['/join_as']"  class="nav-link scroll-link">join us</a>
      </div>
      <!-- end of navbar links -->
      <!-- nav social media icons -->
      <div class="nav-icons">
        <a href="https://www.twitter.com" target="_blank" class="nav-icon">
          <i class="fab fa-facebook"></i
        ></a>
        <a href="https://www.twitter.com" target="_blank" class="nav-icon">
          <i class="fab fa-twitter"></i
        ></a>
        <a href="https://www.linkedin.com" target="_blank" class="nav-icon">
          <i class="fab fa-linkedin"></i
        ></a>
      </div>
    </div>
  </nav>