<section class="section about" id="about">
    <div class="title-wrapper">
      <h2 class="title">about <span class="subtitle">us</span></h2>
    </div>
    <div class="about-center section-center">
        <article class="about-img">
          <img
            src="./assets/images/about.jpeg"
            class="about-photo"
            alt="awesome beach"
          />
        </article>
        <article class="about-info">
          <h3>explore the difference</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et ex
            corrupti consequatur aut impedit. Labore minus expedita voluptates
            aut qui.
          </p>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et ex
            corrupti consequatur aut impedit. Labore minus expedita voluptates
            aut qui.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et ex
            corrupti consequatur aut impedit. Labore minus expedita voluptates
            aut qui.
          </p>
          <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et ex
              corrupti consequatur aut impedit. Labore minus expedita voluptates
              aut qui.
            </p>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et ex
              corrupti consequatur aut impedit. Labore minus expedita voluptates
              aut qui.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et ex
              corrupti consequatur aut impedit. Labore minus expedita voluptates
              aut qui.
            </p>
        
        </article>
      </div>
      <div class="about-center section-center row-rew">
        <article class="about-img">
          <img
            src="./assets/images/about_2.jpg"
            class="about-photo"
            alt="awesome beach"
          />
        </article>
        <article class="about-info">
          <h3>Where to next</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et ex
            corrupti consequatur aut impedit. Labore minus expedita voluptates
            aut qui.
          </p>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et ex
            corrupti consequatur aut impedit. Labore minus expedita voluptates
            aut qui.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et ex
            corrupti consequatur aut impedit. Labore minus expedita voluptates
            aut qui.
          </p>
          <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et ex
              corrupti consequatur aut impedit. Labore minus expedita voluptates
              aut qui.
            </p>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et ex
              corrupti consequatur aut impedit. Labore minus expedita voluptates
              aut qui.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et ex
              corrupti consequatur aut impedit. Labore minus expedita voluptates
              aut qui.
            </p>
        
        </article>
      </div>
  </section>