<section class="section services" id="services">
    <div class="title-wrapper">
      <h2 class="title">our <span class="subtitle">services</span></h2>
    </div>
    <div class="section-center services-center">
      <article class="service" [routerLink]="['/services']">
        <span class="service-icon">
          <i class="far fa-money-bill-alt"></i>
        </span>
        <div class="service-info">
          <h4 class="service-title">saving money</h4>
          <p class="service-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam,
            deserunt?
          </p>
        </div>
      </article>
      <article class="service" [routerLink]="['/services']">
        <span class="service-icon">
          <i class="fas fa-tree fa-fw"></i>
        </span>
        <div class="service-info">
          <h4 class="service-title">endless hiking</h4>
          <p class="service-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam,
            deserunt?
          </p>
        </div>

      </article>
      <article class="service" [routerLink]="['/services']">
        <span class="service-icon">
          <i class="fas fa-bed"></i>
        </span>
        <div class="service-info">
          <h4 class="service-title">amazing comfort</h4>
          <p class="service-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam,
            deserunt?
          </p>
        </div>
      </article>
      <article class="service" [routerLink]="['/services']">
        <span class="service-icon">
          <i class="fa fa-users" ></i>
          </span>
        <div class="service-info">
          <h4 class="service-title">family friendly</h4>
          <p class="service-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam,
            deserunt?
          </p>
        </div>
      </article>
      <article class="service" [routerLink]="['/services']">
        <span class="service-icon">
          <i class="fa fa-beer"></i>

        </span>
        <div class="service-info">
          <h4 class="service-title">Relaxing</h4>
          <p class="service-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam,
            deserunt?
          </p>
        </div>

      </article>
      <article class="service" [routerLink]="['/services']">
        <span class="service-icon">
          <i class="fa fa-star"></i>
        </span>
        <div class="service-info">
          <h4 class="service-title">best service</h4>
          <p class="service-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam,
            deserunt?
          </p>
        </div>
      </article>
      <article class="service" [routerLink]="['/services']">
        <span class="service-icon">
          <i class="fa fa-hourglass-start" ></i>
        </span>
        <div class="service-info">
          <h4 class="service-title">without waiting</h4>
          <p class="service-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam,
            deserunt?
          </p>
        </div>
      </article>
      <article class="service" [routerLink]="['/services']">
        <span class="service-icon">
          <i class="fa fa-heartbeat" ></i>


        </span>
        <div class="service-info">
          <h4 class="service-title">health insurance</h4>
          <p class="service-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam,
            deserunt?
          </p>
        </div>

      </article>
      <article class="service" [routerLink]="['/services']">
        <span class="service-icon">
          <i class="fa fa-battery-half" ></i>
        </span>
        <div class="service-info">
          <h4 class="service-title">Recharce battery</h4>
          <p class="service-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam,
            deserunt?
          </p>
        </div>
      </article>

    </div>

  </section>